<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-button (click)="loadTheThingsSlow()">Load the Things Slowly</ion-button>
	<ion-button (click)="loadTheThingsQuick()">Load the Things Quickly</ion-button>
	<ion-button (click)="loadObservables()">Load Observables</ion-button>
</ion-content>
